= form_with model: [@organisation, membership], local: true, class: "form-horizontal" do |form|

  - if membership.errors.any?
    #error_explanation
      %h2
        = pluralize(membership.errors.count, "error")
        prohibited this user from being saved:

      %ul
        - membership.errors.full_messages.each do |message|
          %li= message

  .form-group
    = form.label :user_id, class: "col-sm-2 control-label"
    .col-sm-10
      = form.collection_select :user_id, User.all, :id, :full_name, {}, {id: :location_availability, class: "form-control"}

  - if @organisation.is_an_operator?
    .form-group
      = form.label :operator, class: "col-sm-2 control-label"
      .col-sm-10
        = form.check_box :operator, id: :membership_operator

  .form-group.actions
    .col-sm-offset-2.col-sm-10
      .pull-right
        = link_to t(:cancel), cancel_path
        = t(:or)
        = form.button t(:submit), class: "btn btn-primary"