- title "#{t(:edit)} .#{@federation.tld.downcase} Federation"
- heading "#{t(:edit)} .#{@federation.tld.downcase} Federation"

= render 'form', federation: @federation, cancel_path: @federation

%hr

%h4 Destructive Actions

= button_to t(:delete), @federation,
  method: "delete", data: { confirm: t(:sure?)}, class: 'btn btn-xs btn-danger'