%p Dear National eduroam Operator of .#{@federation.tld.downcase},

%p
  A manager at #{@organisation.name} has just #{@action} the realm
  %strong= @realm.domain_name

%p
  You can download an updated proxy.conf files for your Federation Level RADIUS (FLR) servers:
  %ul
    - @federation.radius_servers.each do |server|
      %li
        = "#{server.name}:"
        = link_to "proxy.conf", proxy_radius_server_url(id: server.id)
      
%p
  Alternatively make sure the following snippet is #{@action} in the
  %code proxy.conf
  file of your National RADIUS Proxies:<br/>
  %pre
    :plain
      realm #{@realm.domain_name} {
        pool = #{@organisation.safe_name}
        nostrip
      }
    - if @realm.allow_subdomains
      :plain
        realm "~.+\.#{@realm.domain_name.gsub('.', '\\.')}$" {
          pool = #{@organisation.safe_name}
          nostrip
      }

%p 
  Have a great day!<br/>
  eduroam Switchboard